<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Data Diri
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id ="container">

    Masukkan Nama : 
    <input type ="text" [(ngModel)]="Nama"/>
    <br>
    <br>
    Masukkan Nrp  : 
    <input type ="text" [(ngModel)]="Nrp"/>
    <br>
    <br>
    Masukkan Email  : 
    <input type ="text" [(ngModel)]="Em"/>
    <br>
    <br>
    Masukkan No telp :
    <input type ="text" [(ngModel)]="Telp"/>
    <br>
    <br>
    <ion-button (click)="BSubmit()">Submit</ion-button>
    <br>
    Profil :
    <br>
    <br>
    Nama :
    {{DataNama}}
    <br>
    Nrp : 
    {{DataNrp}}
    <br>
    Email :
    {{DataEmail}}
    <br>
    Telp : 
    {{DataTelp}}
    <br>
  </div>
 




  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
