<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Kritik & Saran
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id ="container">
    Kritik : saya merasa agak berat ce kalau harus memahami materi yang diberi hari itu juga sekalian mengerjakan soal latihan yang harus dikumpulkan
    hari itu juga <br><br>
    Saran : Sebaiknya latihan nya jangan dikumpulkan hari itu juga ce, agar kita bisa lebih memahami dan fokus dengan materi yang diberikan cece pada hari itu dan bisa mengerjakan soal dengan maksimal
  </div>
</ion-content>
